.overflow-y-auto::-webkit-scrollbar {
    display: none;
}

.overflow-y-auto {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}

.overflow-auto::-webkit-scrollbar {
    display: none;
}

.overflow-auto{
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}

@media (max-width: 767px) {
    .hide-on-mobile {
      display: none;
    }
  }
  
  .blur-background {
    filter: blur(5px);
}

.blur-exclude {
    filter: blur(-6px); /* Adjust the value as needed to cancel out the blur */
}